{% extends "base.html"}
{% if user.is_authenticated %}
<ul>
    {% if kusimus %}
        <ul>
        {% for küsimus in kusimus %}
        <li>{{ küsimus.title }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nothing</p>
</ul>
{% endif %}


<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->