/*html,


.big-title {
    position: absolute;
    top:36px;
    right: 500px;
    font-size: 5rem;

}
*/

html,

.wallpaperstuff {
  background: url("/static/img/wallpaper4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-family: 'Courier New', Courier, monospace;
  <p class="wallpaperstuff"></p>
}

*, *::after, *::before {
    box-sizing: border-box;
  }

a {
  text-decoration: none;
}


blockquote {
    border-left: 6px solid lightgray;
    padding-left: 6px;
    margin-left: 15px;
  }

.main {
  max-width: 900px;
  margin: 60px auto;
  padding: 35px;
  border-radius: 20px;
  background-color: rgb(246, 247, 254);
}

.page {
    display: flex;
    flex-direction: column;
  }

.fieldWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.fieldWrapper label {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.fieldWrapper input {
  margin-bottom: 6px;
  border: 1px solid lightgray;
  min-height: 40px;
}

.submit-button {
  color: white;
  display: block;
  width: 110px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(145,58,126);
  margin: 0 auto;
  cursor: pointer;
}

.question-title {
  font-weight: 900;
  margin: 20px auto 0 auto;
}

.question-body {
  margin-bottom: 6px;
}

.question-author {
  font-size: 14px;
  color: rgb(155, 155, 155);
}

.responses-container {
  border-top: 1px solid lightgray;
  margin-top: 30px;
}

.responses-container-heading {
  color: rgb(155, 155, 155);
}

.no-responses-text {
  color: rgb(155, 155, 155);
}

.response-body {
  margin: 0;
}

.response-author {
  color: rgb(155, 155, 155);
  font-style: italic;
}

.reply-button {
  background-color: transparent;
  border: none;
  padding: 0;
  text-transform: lowercase;
  color: rgb(155, 155, 155);
  cursor: pointer;
}

.response-form {
  margin-top: 20px;
  border-top: 1px solid rgb(155, 155, 155);
  padding: 30px;
}

.reply-form-container {
  display: none;
}

.reply-form-container.enabled {
  display: block;
}

.reply-form textarea {
  width: 100%;
}

.reply-form-cancel-button {
  font-weight: 600;
  color: rgb(13,96,64);
  background-color: transparent;
  border: none;
  padding: 4px 12px;
  cursor: pointer;
}

.reply-form-submit-button {
  font-weight: 600;
  color: white;
  background-color: rgb(13,96,64);
  border: none;
  padding: 4px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.big-title {
    position: absolute;
    top:10px;
    right: 650px;
    font-size: 3.3rem;

}
.top-right {
  position: fixed;
  top:36px;
  right: 40px;
  font-size: 1.3rem;
  background-color: #ffffff;
  border: 4px solid rgb(13,98,65);
  border-radius: 12px;
 }

 .top-right:hover {
  background-color: rgb(25, 181, 121) ; 
  color: white;
}

 .bottom-right {
  position: fixed;
  top:675px;
  right: 10px;
  font-size: 2rem;
  padding: 12px 28px;
  background-color: #ffffff;
  border: 4px solid rgb(13,98,65);
  border-radius: 12px;
 }

 .bottom-right:hover {
  background-color: rgb(25, 181, 121) ; 
  color: white;
}
