{% extend 'base.html' %}
{% block title %}
    Test
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <ul>
        {% if questions %}
            <ul>
            {% for question in questions %}
            <li>{{ question.title }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <li>Nothing</li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>t
{% endif %}
-->